<div class="jumbotron text-center">
    <h1 class="display-4">myLists</h1>
    <h2>lists made easy</h2>
    <p class="lead">
        <img src="/img/logo.png" id="logo" alt="myLists list App" />
        <br />With myLists you can easily create and manage your Lists from your computer, smart phone or tablet.
    </p>
    <hr class="my-4" />
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="/users/login" role="button">Get Started</a>
    </p>
</div>
    