<h1>Password Reset</h1>
<div class="container">
  <form id="resetForm" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" 
            id="email" name="email" ngModel #email="ngModel"
            placeholder="Enter your Email Address" required autofocus 
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    <button type="reset" class="btn btn-secondary" id="resetBtn">Reset</button>
  </form>
</div>
<div class="container">
  <br />
  <div class="alert alert-danger hidden" role="alert" id="errMsg" *ngIf="error == true">{{errmsg}}</div>
  <div class="alert alert-success hidden" role="alert" id="successMsg" *ngIf="emailsent == true">An email has been sent with a rest link.</div>
</div>
