<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        <div class="container">
        {{> nav}}
        
        {{> confirm}}
        
        {{> footer}}
        </div>
        {{> scripts}}
        <script src="/js/confirm.js"></script>
    </body>
</html>
