<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <link rel="stylesheet" href="/css/lib/theme.blue.css" />
    </head>
    <body>
        <div class="container hidden" id="homeContainer">
        {{> nav}}
        
        {{> home}}
        
        {{> footer}}
        </div>
        {{> scripts}}
        <script src="/js/lib/jquery.tablesorter.min.js"></script>
        <script src="https://use.fontawesome.com/c2da732f4d.js"></script>
        <script src="/js/home.js"></script>
    </body>
</html>
