<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        <div class="container">
        {{> nav}}
        
        {{> reset}}
        
        {{> footer}}
        </div>
        {{> scripts}}
        <script src="/js/reset.js"></script>
    </body>
</html>
