#logo {
    padding-top: 10px;
}
button {
    cursor: pointer;
}
.hidden {
    display: none;
    /*visibility: hidden;*/
}
#userNameSpan {
    font-size: .75em;
}
.delete {
    width: 50px !important;
    text-align: center;
}
