<h1>Login</h1>
<div class="container">
  <form id="loginForm">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter your User Name" required autofocus [(ngModel)]="userName" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your Password" required />
    </div>
    <div class="form-check rememberMe">
      <input type="checkbox" class="form-check-input" id="rememberMe" />
      <label class="form-check-label" for="rememberMe">Remember Me</label>
    </div>
    <br />
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>
    <button type="reset" class="btn btn-secondary" id="resetBtn">Reset</button>
  </form>
</div>
<div class="container">
  <br />
  <div class="alert alert-danger hidden" role="alert" id="errMsg"></div>
  <br />Don't have an account?
  <span title="Register" class="anchor" (click)="onRegister()">Register.</span>
  <br />Forgot your password?
  <span title="Reset Password" class="anchor" (click)="onPasswordReset()">Reset.</span>
</div>
